<!-- ko with: reports -->
@*<div class="heading">
    <h2>Отчёты</h2>
    
    <a class="download-link" href="@Url.Action("SalesReport", "Report")"><i class="fa fa-download" aria-hidden="true"></i> Скачать отчет о продажах</a>
</div>*@
<div class="agile-grids">
    <div class="agile-tables">
        <div class="w3l-table-info">
            <h3>Отчётность</h3>
            <div class="row">
                <section class="col-md-24">
                    <div id="chart" style="width: 100%; height: 350px;"></div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->